<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<script src="https://vk.com/js/api/openapi.js?147" type="text/javascript"></script>
</head>
<body>
  <div id="root">
  	<div class="container">
  		<div class="logo">
				<img src="img/logo.png" alt="">
  		</div>
  		<div class="f-filter">
  			<div class="f-filter__top">
  				<h2 class="title">Выберите друзей</h2>
  				<i class="ico i-close"></i>
  			</div>
  			<div class="f-filter__search">
  				<div class="grid">
  					<div class="part">
  						<div class="field field--ico">
  							<i class="ico i-search"></i>
  							<input type="text" class='field__input filter-all-users' placeholder="{{filterPlaceholderLeft}}">
  						</div>
  					</div>
  					<div class="part">
  						<div class="field">
  							<input type="text" class='field__input filter-add-users' placeholder="{{templateContent.filterPlaceholderRight}}">
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="f-filter__content">
  				<div class="grid">
  					<div class="part left-col">
  						<h3 class="title">Ваши друзья</h3>
  						<ul class="list">
							{{> "./allFriend.hbs"}}
  						</ul>
  					</div>
  					<div class="part right-col">
  						<h3 class="title">Друзья в списке</h3>
  						<ul class="list">
							{{#each usersAdd}}
  							<li class="list__item">
  								<div class="user" data-user-id="{{id}}" draggable="true">
  									<div class="avatar">
  										<div class="avatar__inner" style='background-image: url({{photo_100}})'></div>
  									</div>
  									<p class="user__name">{{first_name}} {{last_name}}</p>
  									<i class="ico i-close remove-user"></i>
  								</div>
  							</li>
							{{/each}}
  						</ul>
  					</div>
  				</div>
  			</div>
  			<div class="f-filter__bottom">
  					<div class="button">
  				    <button class="button__text">Сохранить</button>
  				  </div>
  			</div>
  		</div>
  	</div>
  </div>
</body>
</html>